<div class="container">
  <div class="centered">
    <form class="form-group " [formGroup]="userForm">
      <!-- p-3 mb-2 bg-primary text-white -->
      <h1 id="demoFont">Register</h1>
        
        <div>
          <label class="css-input">
            Email:
              <input type="text"
               class="form-control"
                placeholder="Enter email"
                 formControlName="email"/>
          </label>
          <div class="error"  *ngIf="emailTouched()">
          <div *ngIf="checkIfNotValidEmail()">
                    Email is incorrect please add the elements "@.".
              </div>
            </div>
        </div>

        <div>
          <label class="css-input">
            Name
              <input type="text"
               class="form-control"
                placeholder="Player"
                 formControlName="name"/>
          </label>
        </div>
    
        <div>
            <label class="css-input">
              Password:
                <input type="password"
                 class="form-control"
                  placeholder="Enter password"
                   formControlName="Password"/>
            </label>
            <div class="error" *ngIf="PasswordTouched()">
            <div *ngIf="!checkIfPasswordValid()">
                      password is incorrect min lenght is 4 letters max 10.
                </div>
              </div>
          </div>
    
          <div>
            <label class="css-input">
                Confirm password:
                <input type="password"
                 class="form-control"
                  placeholder=" ReeEnter password"
                   formControlName="ReeEnterPassword"/>
            </label>
            <div class="error"  *ngIf="ReeEnterPasswordTouched()">
                <div *ngIf="!checkIfPasswordConfromation()">
                    not the same password.
                </div>
            </div>
          </div>
          <div class="btns">
            <button class="myButton" id="home" (click)="MoveToHomePage()" ><i class="fas fa-arrow-left"></i> <i class="fas fa-home"></i></button>
            <button class="myButton" id="register" (click)="Register()" [disabled]="!AllowBtn()">Register</button>
          </div>
      </form>

  </div>
</div>


