<div class="Board">
    <div class="Top">
        <div *ngFor="let house of halfeTopHouse; let i = index">
            <div (click)="MoveSolder(house)" class="homes" *ngIf="!checkIfElementIsOdd(i)">
                <app-house-black [isBlack]="true"  [home]="house"></app-house-black>
            </div>
            <div class="homes" (click)="MoveSolder(house)" *ngIf="checkIfElementIsOdd(i)">
                <!-- <div id="{{house.Id}}" > -->
                    <!-- <app-house-red class="red" [home]="AllHouses[i]"></app-house-red> -->
                    <app-house-black [isBlack]="false"  [home]="house"></app-house-black>
                <!-- </div> -->
            </div>
        </div>
        <!-- <div class="home"></div> -->
    </div>

<div class="center">
    <div style="width: 58%; float:left" class="left" >
        <app-rool-dice (GetDicenumbers)="GetNumbersFromDice($event)"></app-rool-dice>
    </div>
    <div style="width: 42%; float:right" class="right">
        <!-- זמני -->
        <!-- {{dice[0]}}
        {{dice[1]}} -->
        <div (click)="MoveSolder(AllHouses[26])" style="width: 50%; float:left" class="left">
            <!-- (click)="MoveFromDeadHouse(AllHouses[26])" -->
            White Kill [26]
            <app-house-black [isBlack]="true"  [home]="AllHouses[26]"></app-house-black>
        </div>
        <div (click)="MoveSolder(AllHouses[27])"  style="width: 50%; float:right" class="right">
            <!-- (click)="MoveFromDeadHouse(AllHouses[27])" -->
            black Kill [27]
            <app-house-black [isBlack]="false"  [home]="AllHouses[27]"></app-house-black>
        </div>
    </div>
    
</div>
<div class="Bottom">
    <span *ngFor="let house of halfeBottomHouse; let i = index">
        <span class="homes" (click)="MoveSolder(house)" *ngIf="!checkIfElementIsOdd(i)">
            <span  ><app-house-black [isBlack]="false"  [home]="house"></app-house-black></span>
        </span>
        <span (click)="MoveSolder(house)"  class="homes" *ngIf="checkIfElementIsOdd(i)"><app-house-black [isBlack]="true"  [home]="house"></app-house-black></span>
    </span>
</div>
</div>
