<div *ngFor="let user of connectedUsers">
    <ul class="list-group">
        <li class="list-group-item" >
            <div class="list-item-fixed">
                <p><strong><i class="fas fa-user badge"></i> {{user.username}}</strong></p>
                <div class="button" (click)="onInviteClick(user)" *ngIf="user.id != userId">Invite me!</div>
                <div class="button " (click)="onPrivateMessageClick(user)" *ngIf="user.id != userId">Send message</div>
            </div>
        </li>
    </ul>
</div>